body {
  position: relative;
}

.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-spin {
    color: rgba(0,0,0,.85);
  }
}